* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f3f1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f3f1;
  color: #566573;
}

.App {
  width: 800px;
  margin-top: 60px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid #566573;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px)
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid #566573;
  cursor: pointer;
}

.page__current {
  border: 2px solid #566573;
  font-weight: bold;
}

.navbar {
  position: fixed;
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 2px 15px;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
  /* color: #566573; */
  background: #f5f3f1;
  border: 1px solid transparent;
  font-size: 22px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

.navbar__link1 {
  margin-right: 0px;
  /* max-width: 100px; */
  padding: 2px 15px;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
}

.navbar__link2 {
  margin-right: 0px;
  /* max-width: 100px; */
  /* display: inline; */
  padding: 2px 15px;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
}

.navbar__link1 a {
  margin-right: auto;
  color: #566573;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

.navbar__link2 a {
  color: #566573;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  /* font-weight: normal; */
  width: 80vw;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
}

h2 {
  font-size: 30px;
  margin-top: 15px;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
}